{% load static %}

<!DOCTYPE html>
<html lang="pl-PL" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Cold Mailing App{% endblock %}</title>
         <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
